{% extends 'medsite/base.html' %}
{% block title %}Запись на прием{% endblock %}
{% block content %}

<!-- Подключение Bootstrap -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<!-- Добавляем блок для отображения сообщений -->
{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
</div>
{% endif %}

<form method="post">
    {% csrf_token %}
    
    {% if form.errors %}
    <div class="alert alert-danger">
        <h4>Ошибки в форме:</h4>
        {{ form.errors }}
    </div>
    {% endif %}
    
    <div class="form-group">
        {{ form.appointment_date.label_tag }}
        {{ form.appointment_date }}
        {% if form.appointment_date.errors %}
        <div class="invalid-feedback">{{ form.appointment_date.errors }}</div>
        {% endif %}
    </div>
    
    <div class="form-group">
        {{ form.appointment_time.label_tag }}
        {{ form.appointment_time }}
        {% if form.appointment_time.errors %}
        <div class="invalid-feedback">{{ form.appointment_time.errors }}</div>
        {% endif %}
    </div>
    
    <div class="form-group">
        {{ form.doctor.label_tag }}
        {{ form.doctor }}
        {% if form.doctor.errors %}
        <div class="invalid-feedback">{{ form.doctor.errors }}</div>
        {% endif %}
    </div>
    
    <div class="form-group">
        {{ form.service.label_tag }}
        <select name="{{ form.service.html_name }}" id="{{ form.service.auto_id }}" class="form-control">
            <option value="" disabled selected>Выберите услугу</option>
            {% for service in form.service.field.queryset %}
                <option value="{{ service.pk }}">{{ service.name }} ({{ service.duration_minutes }} мин)</option>
            {% endfor %}
        </select>
        {% if form.service.errors %}
           <div class="invalid-feedback">{{ form.service.errors }}</div>
        {% endif %}
    </div>
    
    <div class="form-group">
        {{ form.reason.label_tag }}
        {{ form.reason }}
        {% if form.reason.errors %}
            <div class="invalid-feedback">{{ form.reason.errors }}</div>
        {% endif %}
    </div>
    
    <button type="submit" class="btn btn-primary">Записаться</button>
</form>

<style>
    .invalid-feedback {
        display: block;
    }
    
    .form-group {
        margin-bottom: 20px;
    }
    
    .container {
        max-width: 600px;
    }
    
    @media (max-width: 768px) {
        .col-md-6 {
            margin-bottom: 20px;
        }
    }
    
    /* Добавляем стили для сообщений */
    .messages {
        margin-bottom: 20px;
    }
    
    .alert {
        margin-bottom: 15px;
    }
</style>
{% endblock %}