{% extends 'medsite/base.html' %}
{% block title %}Кабинет пациента{% endblock %}
{% block content %}
    <h1>Прием врача:</h1>
    <p>Дата и время: {{ appointment.date_time|date:"d.m.Y H:i" }}</p>
    <p>Врач: {{ appointment.doctor }}</p>
    <p>Причина обращения: {{ appointment.reason }}</p>
    <a href="{% url 'medsite:appointment_edit' pk=appointment.pk %}">Редактировать</a>
    <a href="{% url 'medsite:appointment_delete' pk=appointment.pk %}">Удалить</a>
    {% if object.results %}
        <p><strong>Результаты:</strong> <a href="{{ object.results.url }}">Скачать</a></p>
    {% endif %}
    
    <p><strong>Примечания врача:</strong> {{ object.notes }}</p>
    
    {% if diagnosis %}
        <a href="{% url 'medsite:diagnosis_update' appointment.pk diagnosis.pk %}">Редактировать диагноз</a>
    {% else %}
        <a href="{% url 'medsite:diagnosis_form' appointment.pk %}">Создать диагноз</a>
    {% endif %}

{% endblock %}