{% extends 'medsite/base.html' %}
{% block title %}История записей{% endblock %}
{% block content %}
<h2>История записей</h2>
    <ul>
    <thead class="table table-striped">
        <thead class="table-info">
            <tr>
                <th>👨‍⚕️ Врач</th>
                <th>📅 Дата</th>
                <th>⏰ Время</th>
                <th>🤒 Причина</th>
                <th>⚙️ Действия</th>
            </tr>
                </thead>
                    <tbody>
                        {% for appointment in appointments %}
                            <tr>
                                <td> {{ appointment.doctor }}</td>
                                <td>{{ appointment.appointment_date|date:'d.m.Y' }}</td>
                                <td>{{ appointment.appointment_time|time:"H:i" }}</td>
                                <td>{{ appointment.reason }}</td>
                                <td>
                                    <a href="{% url 'medsite:appointment_edit' pk=appointment.pk %}" class="btn btn-outline-primary btn-sm">
                                        ✏️
                                    </a>
                                    <a href="{% url 'medsite:appointment_delete' pk=appointment.pk %}" class="btn btn-danger btn-sm">
                                        🗑️
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </thead>
</ul>
<div class="pagination">
    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
        {% endif %}
        Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Следующая</a>
        {% endif %}
    {% endif %}
</div>   
{% endblock %}
