{% extends 'medsite/base.html' %}
{% block title %}Наши услуги{% endblock %}
{% block content %}
    <style>

        h2 {
            font-size: 2.5em;
            margin-top: 0;
        }

        p {
            margin: 10px 0;
        }

        ol {
            padding-left: 20px;
        }

        ul {
            list-style-type: none;
            padding-left: 0;
        }

        .doctor-details > li:first-child {
            font-weight: bold;
        }
    </style>
    <h1>Лабораторные исследования:</h1>
    <ol>
        <li>
            <ul class="doctor-details">
                <li> Общий анализ крови (ОАК) с лейкоцитарной формулой и СОЭ:</li>
                <li> Описание: Базовое исследование для оценки состояния здоровья, выявления воспалительных процессов, анемии.</li>
                <li>Цена: 550 руб.</li>
            </ul>
        </li>
        <li>
            <ul class="doctor-details">
                <li>Биохимический анализ крови (расширенный):</li>
                <li> Описание: Включает глюкозу, холестерин, АЛТ, АСТ, билирубин, креатинин, мочевину и другие показатели для оценки работы внутренних органов.</li>
                <li>Цена: 1800 руб.</li>
            </ul>
        </li>
        <li>
            <ul class="doctor-details">
                <li>Анализ крови на гормоны щитовидной железы (ТТГ, Т3, Т4 свободные):</li>
                <li> Описание: Исследование функции щитовидной железы.</li>
                <li>Цена: 1300 руб</li>
            </ul>
        </li>
    </ol>
    <h1>Ультразвуковая диагностика (УЗИ):</h1>
    <ol>
        <li>
            <ul class="doctor-details">
                <li>УЗИ органов брюшной полости (печень, желчный пузырь, поджелудочная железа, селезенка):</li>
                <li>Описание: Комплексная оценка состояния внутренних органов брюшной полости.</li>
                <li>Цена: 1600 руб</li>
            </ul>
        </li>
        <li>
            <ul class="doctor-details">
                <li>УЗИ щитовидной железы с лимфоузлами:</li>
                <li>Описание: Визуализация структуры и размеров щитовидной железы, выявление новообразований.</li>
                <li>Цена: 1200 руб</li>
            </ul>
        </li>
        <li>
            <ul class="doctor-details">
                <li>УЗИ молочных желёз:</li>
                <li>Описание: Исследование для диагностики патологий молочных желёз.</li>
                <li>Цена: 1400 руб</li>
            </ul>
        </li>
    </ol>
    <h1>Лучевая диагностика:</h1>
    <ol>
        <li>
            <ul class="doctor-details">
                <li>Рентгенография органов грудной клетки (1 проекция):</li>
                <li>Описание: Диагностика заболеваний лёгких, сердца, костной системы грудной клетки.</li>
                <li>Цена: 900 руб</li>
            </ul>
        </li>
        <li>
            <ul class="doctor-details">
                <li>Рентгенография сустава (1 сустав, 2 проекции):</li>
                <li>Описание: Оценка состояния костей и суставов при травмах или заболеваниях.</li>
                <li>Цена: 1100 руб</li>
            </ul>
        </li>
    </ol>
{% endblock %}
