{% extends 'medsite/base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="container mt-5">
    <h2>Профиль пользователя</h2>

    <div class="card shadow-sm mb-4">
        <div class="card-header bg-info text-white">
            <h5>Личная информация</h5>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">Email:</dt>
                <dd class="col-sm-9">{{ user_profile.email }}</dd>

                <dt class="col-sm-3">Имя:</dt>
                <dd class="col-sm-9">{{ user_profile.first_name }}</dd>

                <dt class="col-sm-3">Фамилия:</dt>
                <dd class="col-sm-9">{{ user_profile.last_name }}</dd>

                <dt class="col-sm-3">Дата рождения:</dt>
                <dd class="col-sm-9">
                    {% if user_profile.birth_day %}
                        {{ user_profile.birth_day|date:'d-m-Y' }}
                    {% else %}
                        Не указана
                    {% endif %}
                </dd>

                <dt class="col-sm-3">Телефон:</dt>
                    <dd class="col-sm-9">
                        {% if user_profile.phone %}
                            {{ user_profile.phone }}
                        {% else %}
                            Не указан
                        {% endif %}
                    </dd>
            </dl>
        </div>
    </div>
    <div class="mt-4 d-flex justify-content-between align-items-center">
        <a href="{% url 'users:update_profile' %}" class="btn btn-outline-primary">Редактировать профиль</a>
        <a href="{% url 'medsite:appointment_list' %}">➕ Список</a>
        <a href="{% url 'medsite:appointment_form' %}" class="btn btn-success">Записаться на прием</a>
    </div>

    <div class="card shadow-sm mb-4">
        <div class="card-header bg-warning text-dark">
            <h5>Запланированные приемы</h5>
        </div>
        <div class="card-body">
            {% if appointments %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Врач</th>
                            <th>Дата</th>
                            <th>Время</th>
                            <th>Причина обращения</th>
                        </tr>
                    </thead>
                    <tbody>
                         {% for appointment in appointments %}
                            <tr>
                                <td> {{ appointment.doctor }}</td>
                                <td>{{ appointment.appointment_date|date:'d.m.Y' }}</td>
                                <td>{{ appointment.appointment_time|time:"H:i" }}</td>
                                <td>{{ appointment.reason }}</td>
                                <td>
                                    <a href="{% url 'medsite:appointment_edit' pk=appointment.pk %}" class="btn btn-outline-primary btn-sm">
                                        ✏️ Редактировать
                                    </a>
                                    <a href="{% url 'medsite:appointment_delete' pk=appointment.pk %}" class="btn btn-danger btn-sm">🗑️ Удалить</a>
                                </td>

                            </tr>
                        {% endfor %}
                </table>
            {% else %}
                <p>У вас нет запланированных приемов</p>
            {% endif %}
        </div>
    </div>

</div>
{% endblock %}